*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat",sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgba(202, 95, 113, 0.925);
   
}
.main{
    background-color: whitesmoke;
    margin-top: 50px;
    /* margin-bottom: 10px; */
    margin-left: 34%;
    margin-right: 35%;
    height: 2000%;
    width: 30%;
    /* flex: 1;
    position: relative; */
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    box-shadow: 10px 3px 8px 1px rgba(0,0,0,0.19);
-webkit-box-shadow: 10px 3px 8px 1px rgba(0,0,0,0.19);
-moz-box-shadow: 10px 3px 8px 1px rgba(0,0,0,0.19);

    /* border: 2px solid green; */
    border-radius: 10px;
}
.top{
    text-align: center;
    /* border: 2px solid green; */
    color: rgb(13, 13, 13);
}
.title{
font-size:30px;
padding-bottom: 2px;
}
.description{
    font-size:15px
}
.bottom{
 width: 100%;
 margin-top: 10px;
 padding-left: 20px;
 padding-right: 20px;
}
#name{
    margin:5px;
    gap: 1;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 25px;
}
#email{
    margin: 5px;
    gap: 1;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 25px;
}
#age{
    margin: 5px;
    gap: 1;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 25px;
}
.role{
    margin: 5px;
    border: none;
    gap: 1;
    /* height: 25px; */
    /* padding-left: 10px; */
    border-radius: 5px;
    /* outline: none; */
   /* border: 2px solid green; */
}
#role{
    width: 102%; 
    height: 27px;
    gap: 1;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.recommend{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px; 
    margin: 5px;
}
.selection{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px; 
    margin: 5px;  
}
input[type="submit"]{
    text-align: center;
    width: 100%;
    height: 2rem;
}
input[type="submit"]:hover{
    background-color: grey;
    color: white; 
}