*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat",sans-serif;
    width: 100%;
    background-color: rgba(202, 95, 113, 0.925);
   
}
.main{
    height: 80%;
    width: 90%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 1.3;
    margin:20px;
    box-shadow: 10px 3px 8px 1px rgba(0,0,0,0.19);
    -webkit-box-shadow: 10px 3px 8px 1px rgba(0,0,0,0.19);
    -moz-box-shadow: 10px 3px 8px 1px rgba(0,0,0,0.19);
}
.title{
    text-align: center;
    padding:10px;
}
.description{
    font-size: 10px;
    text-align: center;
}
.bottom{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    justify-content: space-between;
}
.name-div, .email-div, .age-div{
    display: flex;
    flex-direction: column;
    padding: 3px 0;
}
#name, #email, #age{
    height: 25px;
    padding:10px;
}
.general{
    margin-bottom: 5px;
}
#role{
    width: 100%; 
    height: 25px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
}
.recommend{
    font-size: 16px;
    font-weight: 400; 
    padding:5px;
}
.selection{
    font-size: 16px;
    font-weight: 400;
    padding:5px;
}
input[type="submit"]{
    text-align: center;
    width: 100%;
    height: 2rem;
    padding:5px;
}
input[type="submit"]:hover{
    background-color: grey;
    color: white; 
    padding: 5px;
}
@media (min-width:768px) {
  body{
      width:50%;
      margin : 0 auto;
  } 
  main{
      border:1px solid green;
  } 
}